* {
    margin: 0px;
    padding: 0px;
}

#todosOsPontos {
display: flex;
flex-direction: column;
gap: 20px;
}

#linha-cor {
    display: flex;
}
#botoes{
    margin-left: 5px;
}

button {
    padding-left: 5px ;
    padding-right: 5px;
    background-color: rgb(218, 212, 212);
    border-radius: 5px;
}

#caixaDeTexto {
    background-color: rgb(218, 212, 212);
}

#caixaDeTexto-ponto4 {
    background-color: rgb(218, 212, 212);
}