* {
  margin: 0;
  font-family: arial;
  background-color: antiquewhite;
}


nav {
   padding: 20px;
  text-align: center;
  display: flex;
  gap: 10px;
}

nav a {
 padding: 10px 20px;
  background-color: rgb(190, 203, 142);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 3px 3px lightgrey;

}

nav a:last-child {
  background: rgb(104, 123, 83);
  color: white;
}

a:hover {
  filter: brightness(90%);
}

body main p {
  border-radius: 10px;
  margin: 10px 10px;
padding-top: 10px; 
padding-bottom: 10px;
padding-left: 20px;
 background-color: rgb(235, 218, 196);
}

h1 {
padding-top: 20px;
padding-bottom: 20px;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
  background-color: rgb(54, 150, 70);
}
h2{
  text-align: center;
}

td {
            color: rgb(4, 137, 254);
        }

.fotografias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

.fotografias img {
    width: 150px;
    border-radius: 20px;
}

div p:nth-child(2) {
  background-color: rgb(0, 255, 30);
}

div p:nth-child(4) {
  background-color: rgb(0, 229, 255);
}

footer p{
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
  text-align: center;
background-color: rgb(67, 67, 77);
}

@media(max-wifth: 600px){
header, nav {
  flex-direction: column;
}
nav {
    display: none;
  }
  header:hover nav {
    display: flex;
  }
  .hamburguer {
    display: block;
  }
}